/* body{
    background-image: var(--logo);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh; 
    margin: 0; 

} */

body {
    position: relative; /*Position relative for the pseudo-element*/
    /* height: 100vh; Sets the height to 100% of the viewport height */
    margin: 0; /* Removes default margin */
    overflow: scroll; /* Prevents overflow */
}

body::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute; /* Position it absolutely */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Stretch to the right */
    bottom: -55em; /* Stretch to the bottom */
    background-image: url('imgs/tayari-logo.svg'); /* Replace with your logo path */
    background-size: 3000px; /* Ensures the image covers the entire area */
    background-position:center; /* Centers the image */
    background-position-y: 200px;
    background-repeat: no-repeat; /* Prevents the image from repeating */
    opacity: 0.2; /* Adjust the opacity here */
    z-index: -1; /* Places the background behind other content */
}

.main-header{
    padding-top: 5em;
}

.text{
    display: inline;

    position: absolute;
    right: 4em;
    top: 9em;
    z-index: 1;
}

.brand-section{
    display: flex;
    margin-inline: 4em;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    gap: 5em;
    justify-content: center;
}

.brand-section img {
    margin: 0; /* Adds space between images */
    height: auto; /* Maintain aspect ratio */
    padding: 0;
    background-color: transparent; /* Set background to transparent */
}

.about-us{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.about-us-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin-inline: 4em;
    position: relative; /* Ensure it has a positioning context */
    z-index: 0; /* Set z-index lower than the background */
}

.about-us-cards .about-card{
    text-align: right;
    padding: 4em;
    border-radius: 2em;
    width: 25em;
    height:fit-content;
    transition: scale 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adds a nice box shadow */
}

.about-card:hover{
    scale: 1.05;
}
.about-card.second{
    background-color: #E1C35E;
}
/* 
.about-card.first{
    position: absolute;
    right: 6em;
}

.about-card.second{
    background-color: #E1C35E;
    position: absolute;
    right: 28em;
    bottom: -40em;
}

.about-card.third{
    position: absolute;
    right: 6em;
    bottom: -50em;
} */
